.navbar-size {
    width: 95%;
    margin: 0 auto;
}
.user-image-size {
    height: 56px;
    margin: 4px 0;
}
.main-body {
    background-color: #F28487;
    color: white;
    height: 100%;
}
.materialboxed-image {
    margin: 0 auto;
    height: 400px;
}
.click-me-button {
    background-color: #EE6E73;
    margin-top: 50px;
}





/*.navbar-size {
    width: 100%;
    margin: 0 auto;
    background-color:black;
}
.user-image-size {
    height: 56px;
    margin: 4px 0;
}
#nav-mobile{
    float: right;
}

.main-body {
    background-color: #F28487;
    color: white;
    height: 100%;
    clear:both;
    margin-top: -25px;
}
.materialboxed-image {
    margin: 0 auto;
    height: 400px;
}
.click-me-button {
    background-color: #EE6E73;
    margin-top: 50px;
}
.col{
    text-align: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 15%;
    margin-right:20px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container1 {
    padding: 2px 16px;
  }

.col1{
    padding-left: 35%;
    margin-top: 30px;
    text-align: center;
    display: flex;
}*/

